@charset "UTF-8";

/* 채팅 : 레이아웃 */
.chat {
	margin-top: 75px;
}
ul.chat-main {
	margin: 0 auto 0 0;
	padding: 0;
	width: 480px;
	height: 720px;
}
ul.chat-main li hr {
	margin: 5px 0;
}
.chat-header.who-area {
	text-align: center;
}
.chat-header.product-area {

}
.chat-header.product-area > div > div {
	margin: 5px;
	max-width: 270px;
}
.read-area {
	overflow-y: auto;
	flex-grow: 1;
}
.send-area input[type="text"] {
	flex-grow: 1;
}
.send-area i.bi {
	margin: 0;
}
.chat-main .buttons.no-reply input[type="button"] {
	margin: 10px;
	flex-grow: 1;
}
hr.vertical {
	margin: 0 10px;
	width: 1px;
	height: 720px;
}
.chat-header img {
	width: 100px;
	height: 100px;
	border-radius: 10px;
}
.chat-me {
	margin: 0 0 0 auto;
}
.chat-me .flex-row {
	flex-direction: row-reverse;
}
.chat-you {
	margin: 0 auto 0 0;
}
.chat-content {
	margin: 5px;
	padding: 15px;
	max-width: 360px;
	border-radius: 20px;
	font-size: 1rem;
}
.chat-notice {
	margin: auto;
}

/* 채팅 : 꾸미기 */
.chat-title {
	margin: 0 5px;
	font-size: 1.2rem;
	font-weight: bold;
}
.chat-title.no-reply {
	font-family: 'IM_Hyemin-Bold';
	color: var(--point);
}
.who-area .chat-title {
	font-size: 1.4rem;
}
.who-area .manner i.bi {
	font-size: 1.4rem;
}
.chat-subtitle {
	margin: 0 5px;
	font-weight: bold;
}
.chat-profile,.list-profile {
	margin: 10px 10px 0;
	width: 25px;
	height: 25px;
	object-position: top;
	border-radius: 50%;
}
.chat-profile-icon {
	margin: 10px 10px 0;
	width: 25px;
	height: 25px;
	pointer-events: none;
}
.list-profile {
	width: 50px;
	height: 50px;
}
.chat-me .chat-content {
	color: var(--light-white);
	background-color: var(--point);
	border-bottom-right-radius: 0;
}
.chat-you .chat-content {
	color: var(--light-black);
	background-color: var(--light-gray);
	border-bottom-left-radius: 0;
}
.chat-info {
	margin: 10px 0;
	font-size: 0.8rem;
	color: var(--gray);
}

/* 채팅방 목록 : 레이아웃 */
ul.chat-other {
	margin: 0 0 0 auto;
	padding: 0;
	width: 420px;
	height: 720px;
	overflow-y: auto;
}
.search-area {
	margin: 25px 0 10px;
	padding: 0;
	width: inherit;
	border: none;
}
.list-area {
	height: 540px;
	overflow-y: auto;
}
.list-area ul {
	flex-wrap: nowrap;
}
.list-area ul li a {
	padding: 5px;
}
.list-profile {
	margin-bottom: 10px;
}
.list-who {
	margin: 10px 5px 5px;
	padding: 0;
}
.list-area .chat-subtitle {
	margin: 0;
	padding: 0;
	max-width: 125px;
	font-weight: bold;
}
.list-area .chat-info {
	margin: 0;
	padding: 0 5px;
}
.list-product {
	width: 50px;
	height: 50px;
	border-radius: 5px;
}
.latest-chat {
	margin: 0 5px 10px;
	padding: 0;
	max-width: 250px;
	font-size: 0.9rem;
}

/* 채팅방 목록 : 꾸미기 */
.chat-selection {
	display: block;
	margin: 0 5px;
	padding: 0;
	width: 5px;
	height: 50px;
}
.chat-selection.selected {
	background-color: var(--point);
}
.chat-selection.unread {
	background-color: var(--point);
	margin-bottom: auto;
	height: 5px;
	border-radius: 50%;	
}
.list-stripe {
	background-color: var(--light-white);
	border-radius: 5px;
}