@charset "UTF-8";

/* 로그인 */
.login {
	margin: 75px auto 0;
	padding: 0;
	width: 600px;	
}
.login > li {
	margin: 10px 0;
	padding: 0;
}
.login form { /* layout.css와 충돌 */
	margin: 0;
	padding: 0;
	width: inherit;
	border: none;
}
.login form > ul > li {
	margin: 15px;
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.login form > ul > li > div {
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.login .input-box {
	margin: 0 auto;
	padding: 10px;
	border: 1px solid var(--light-gray);
	border-radius: 10px;
}
.login .input-box:focus-within {
	box-shadow: 0 0 0 3px var(--point);	
}
.login .input-box i.bi {
	color: var(--gray) !important;
	cursor: default;
}
.login .input-box input {
	margin: 0 5px;
	width: 400px;
	border: none;
	font-size: 1.2rem;
}
.login .input-box input:focus {
	outline: none;
}
.login .caution {
	margin: -10px auto 0;
	padding: 0;
	width: 450px;
}
.login .modal-content span,.register .modal-content span {
	margin: 10px 10px 25px;
}
.login .buttons {
	margin: 0 auto;
	width: 500px;
}
.login .buttons [type="button"] {
	flex-grow: 1;
}

/* 회원 가입 */
.register {
	margin: 75px auto 0;
	padding: 0;
	width: 720px;	
}
.register > li {
	margin: 10px 0;
	padding: 0;
}
.register form { /* layout.css와 충돌 */
	margin: 0;
	padding: 0;
	width: inherit;
	border: none;
}
.register form > ul > li {
	margin: 5px 0;
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.register form > ul > li > div {
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}
.register .search {
	margin: 0 auto 0 150px;
	padding: 0 5px;
}
.register label {
	width: 150px;
}
.register input:not([type="button"]) {
	width: 400px;
}
.register [name="age"],.register select[name="phone"] {
	width: 125px !important;
}
.register input[name="phone"] {
	width: 260px !important;
}
#year,#area_code,#phone1 {
	width: 130px !important;
}