@charset "UTF-8";

/* 물품 등록 */
.add {
	margin: 75px auto 0;
	padding: 0;
	width: 720px;	
}
.add > li {
	margin: 10px 0;
	padding: 0;
}
.add form > ul > li {
	margin: 5px 0;
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.add form > ul > li > div {
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}
.add label {
	width: 150px;
}
.add input:not([type="button"]),.add textarea {
	width: 400px;
}
.add textarea {
	height: 200px;
}
.add label[for="photo"].upload {
	margin: 20px 50px 20px 0;
	padding: 15px;
	width: 100px;
	height: 100px;
	border-radius: 10px;
	border: 3px solid var(--point);
	color: var(--point);
	background-color: transparent;
	transition: all 0.5s ease;
	cursor: pointer;
}
.add label[for="photo"].upload:hover {
	border: 3px solid var(--point-hover);
	color: var(--point-hover);
	background-color: transparent;	
}
.add label[for="photo"].upload i.bi {
	margin-bottom: 0;
	padding-bottom: 0;
}
.add label[for="photo"].upload div {
	display: inline-flex;
	justify-content: center;
	color: var(--silver);
}
.add label[for="photo"].upload div span.enabled {
	color: var(--point);
}
.add input[type="file"][name="photo"] {
	display: none;
}
.add ul.list-thumbnail {
	width: 550px;
	overflow-x: auto;
}
.add ul.list-thumbnail li {
	flex-wrap: nowrap;
}
.add img.thumbnail {
	margin: 10px 0 10px 10px;
	flex-shrink: 0;
	width: 100px;
	height: 100px;
	border-radius: 10px;
}
.add img.thumbnail.hidden {
	display: none;
}

/* 물품 상세 정보 */
.detail {
	width: 720px;
	margin: 75px auto 0;
	padding: 0;
}
.detail > li {
	margin: 0;
	padding: 5px 10px;
}
.detail li img {
	width: 700px;	
	height: 700px;
	border-radius: 20px;
}
.detail li img.profile {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.detail .carousel-control-prev:hover,.detail .carousel-control-next:hover { /* 캐러셀 충돌 방지 */
	border: 0;
	background-color: transparent;
}
.detail .carousel-indicators button:hover {
	border: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	background-color: #fff;
}

/* 물품 상세 정보 : 판매자 */
.seller div {
	flex-grow: 1;
}
.seller div {
	margin: 0;
	padding: 0 5px;
}
.seller .who > div > div {
	padding: 0 5px;
}
.seller .who > div > div:first-child {
	font-weight: bold;
	font-size: 1.2rem;
}
.seller .who svg.bi {
	
	width: 30px;
	height: 30px;
	fill: var(--point);
	transition: fill 0.5s ease;
}
.seller .manner .manner-stars i.bi {
	pointer-events: none; /* 개별 별 아이콘의 hover 효과 제거 */
}

/* 물품 상세 정보 : 글 */
.detail .product div {
	padding-top: 5px;
}
.detail .product .content {
	margin-bottom: 50px;
}
.detail .product .content.deleted {
	padding: 15px 0 0 15px;
	font-style: italic;
	color: var(--silver-hover);
}

/* 물품 상세 정보 : 버튼들 */
.detail i.bi#like {
	margin: 5px 0 0;
	padding: 0 5px;
	font-size: 3rem;
}
.detail i.bi#like.disabled {
	color: var(--light-gray-hover);
	cursor: default;
}
.detail [type="button"] {
	margin: 0 5px;
}

/* 물품 상세 정보 : 실시간 중고 더보기 */
.list-other {
	margin: 25px auto;
	padding: 0;
	width: 600px;
}
.list-other li {
	margin: 5px;
	padding: 5px;
	width: 190px;
}
.list-other .flex-column div {
	margin-top: 5px;
	padding: 0 10px;
}
.list-other li img {
	margin-bottom: 5px;
	width: 180px;
	height: 180px;
	border-radius: 10px;
}
.list-product-title {
	font-size: 1rem;
	font-weight: bold;
}
.list-other li .price {
	font-weight: bold;
	font-size: 1rem;
}
.list-other li .info a:hover {
	color: var(--light-black);
}